header{
  background: red;
  text-align: center;
}
.page {
  width: 960;
}
#planetdata table, th, td {
  border: 1px solid black;  
}
#planetdata {
  margin-left: 25%; 
  margin-right: 25%;
}
