header{
  background: red;
  text-align: center;
}
#planetdata table, th, td {
  border: 3px solid red;  
}
body {
  background: dimgray; 
}
#planetdata {
  margin: 25%;
  padding: 5%;
}
